<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <MyInfo.Properties.Settings>
            <setting name="sHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="sPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="sDb" serializeAs="String">
                <value>dc14</value>
            </setting>
            <setting name="sUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="sPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="jHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="jPort" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="jDb" serializeAs="String">
                <value>jhcisdb</value>
            </setting>
            <setting name="jUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="jPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="hHost" serializeAs="String">
                <value>mysql.chiangmaihealth.go.th</value>
            </setting>
            <setting name="hPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="hDb" serializeAs="String">
                <value>hdc14</value>
            </setting>
            <setting name="hUsername" serializeAs="String">
                <value>amp14</value>
            </setting>
            <setting name="hPassword" serializeAs="String">
                <value>pFjys2tH</value>
            </setting>
        </MyInfo.Properties.Settings>
    </userSettings>
</configuration>
